.primary_btn {
  background: black;
  padding: 18px 10px;
  color: white;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}
.outline_btn {
  border: 1px solid black;
  padding: 18px 10px;
  background-color: white;
  color: black;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
